// Import page-specific CSS files here.
@import "home";
#navbar {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type:none;
  text-decoration: none;
  margin: 0 auto;
  padding: 12px;
  background-color: rgb(64, 77, 63);
  color: black;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
  justify-content: center;
  text-decoration: none;
  margin-right: 100px;
  /*
  backgound-color: white;
  backgound-color: peach;
  margin: 10px;
  */
}

li {
  text-decoration: none;
  margin-right: 10px;
  text-decoration-line: none;
}

#webtitle {
  background-color: blueviolet;
  border-radius: 14px;
  padding: 14px
}

#container {
  background-color: black;
}

#bikecards {
  display: flex;
  border: 1px;
  border-style:solid;
  background-color: grey;
  border-radius: 10px;
}

.card {
  display: inline-block;
  justify-content: space-between;
  padding-right: 10px;
  margin: 10px;
  border-radius: 10px;
}
