.card {
  display: flex;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 280px;
  height: 315px;
  p {
    flex-wrap: wrap;
  }
}

.card_image {
  width: 100%;
  height: 155px;
  margin-bottom: 1em;
}

#button_add {
  font-size: 3em;
}

#bookings {
  display:table;
}

.card-product {
  border-radius: 10px;
}

p {
 font-size: 20px;
}
.card-product-infos {
  background-color: rgb(255, 255, 255);
}

html, body {
  background-color: rgb(67, 62, 62);

}

#button_add {
  color: rgb(215, 204, 204);
}
