<div id="navbar">
      <ul>
        <li><a href="bikes"> Bikes </a></li>
        <li><a href="/"> Home </a></li>
        <li><a href="bookings"> Bookings </a></li>
        <li><a href="profile"> Profile </a></li>
      </ul>
    </div>

<div id="bookings">
  <ul>
    <li> Booking nº:123455678 | 26.03 - 29.03 </li>
    <li> Booking nº:123455678 | 26.03 - 29.03</li>
    <li> Booking nº:123455678 | 26.03 - 29.03</li>
    <li> Booking nº:123455678 | 26.03 - 29.03</li>
  </ul>
</div>
