
<div class="container">
        <% @bookings.each do |booking| %>
  <div class="card-trip">
    <img src="https://semexe.com/blog/wp-content/uploads/2022/03/Scalpel-personalizada-por-Black-tiger-74.jpg" />
    <div class="card-trip-infos">
      <div>
          <%= render "booking", booking: booking  %>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <%= link_to "Show Booking", booking %>
    </div>
  </div>
  <%= link_to "Bike park", bikes_path %>
  <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  <% end %>
</div>

<script>
    window.onscroll = function() {myFunction()};

    var navbar-lewagon = document.querySelector('.navbar-lewagon');
    var sticky = navbar-lewagon.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky");
      } else {
        navbar.classList.remove("sticky");
      }
    }
</script>
