  <div class="banner">
    <div id="container">
      <div class="title">
        <h1>Rent LeBikes</h1>
        <p>Travel far and cheap with your <strong>LeBike</strong> by your side!</p>
        <a href="bikes" class="my-button">Browse Bikes</a>
      </div>
  
    </div>

  </div>
