<div class="webtitle">
  <h1>Rent LeBikes</h1>
  <p>Travel far and cheap with your LeBike by your side!</p>
</div>
<div class="navbar">
  <ul>
    <li><a href=".asp">Bikes</a></li>
    <li><a href="news.asp">Profile</a></li>
    <li><a href="contact.asp"></a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</div>
