<html>
  <head>
  <link rel="stylesheet" href="style.css">
  </head>
  <body>

  <div id="container">
    <div id="webtitle">
      <h1>Rent LeBikes</h1>
      <p>Travel far and cheap with your <strong>LeBike</strong> by your side!</p>
    </div>
    <div id="navbar">
      <ul>
        <li><a href=".asp">Bikes</a></li>
        <li><a href="profile.asp">Profile</a></li>
        <li><a href="bookings.asp">Bookings</a></li>
        <li><a href="about.asp"></a></li>
      </ul>
    </div>


  </div>
 </body>
</html>
