<div>
  <p>
    <strong>Owner:</strong>
    <%= bike.user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bike.description %>
  </p>

  <p>
    <strong>Price/Day:</strong>
    R$<%= bike.price %>,00
  </p>
</div>
