<div class="container d-grid">
  <% @bikes.each do |bike| %>
    <div class="card-product">
      <img src="https://semexe.com/blog/wp-content/uploads/2022/03/Scalpel-personalizada-por-Black-tiger-74.jpg" class="card-image" id="index-image-card"/>
      <div class="card-product-infos">
        <%= render "bike", bike: bike %>
        <%= link_to bike do %>
          <i class="fa-solid fa-eye" style="color: grey"></i>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
<div class="container">

  <%= link_to  new_bike_path  do %>
      <i class="fa-solid fa-square-plus" id="button_add" style="color: grey"></i>
  <% end %>
</div>
