<html>
  <head>
  <link rel="stylesheet" href="style.css">
  </head>
  <body>

  <div id="container">
    <div id="webtitle">
      <h1>Rent LeBikes</h1>
      <p>Travel far and cheap with your <strong>LeBike</strong> by your side!</p>
    </div>
    <div id="navbar">
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="profile.asp">Profile</a></li>
        <li><a href="bookings.asp">Bookings</a></li>
        <li><a href="about.asp"></a></li>
      </ul>
    </div>
      <% @bikes.each do |bike| %>
    <div class="card">
        <img src="https://semexe.com/blog/wp-content/uploads/2022/03/Scalpel-personalizada-por-Black-tiger-74.jpg" alt="bike a venda" class="card_image">
        <%= render "bike", bike: bike %>
        <%= link_to "show this bike", bike %>
    </div>
      <% end %>
      <%= link_to  new_bike_path  do %>
        <i class="fa-solid fa-square-plus"></i>
      <% end %>

  </div>
 </body>
</html>
