
<div class="container">
        <% @bikes.each do |bike| %>
  <div class="card-trip">
    <img src="https://semexe.com/blog/wp-content/uploads/2022/03/Scalpel-personalizada-por-Black-tiger-74.jpg" />
    <div class="card-trip-infos">
      <div>
        <%= render "my_bikes", bike: bike %>
        <%= link_to bike do %>
          <i class="fa-solid fa-eye" style="color: grey"></i>
        <% end %>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <%= link_to bike_path(bike), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash" style="color: grey"></i>
        <% end %>
    </div>
  </div>
        <% end %>
</div>
