<div class="container">
  <div class="card-trip">
    <img src="https://semexe.com/blog/wp-content/uploads/2022/03/Scalpel-personalizada-por-Black-tiger-74.jpg" />
    <div class="card-trip-infos">
      <div>
        <%= render "bike", bike: @bike %>
          <%= link_to new_bike_booking_path(@bike) do %>
          <i class="fa-solid fa-calendar-plus" style="color: grey"></i>
          <% end %>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <% if @bike.user == current_user %>
        <%= link_to bikes_path(@bike), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash" style="color: grey"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links2">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
