<div>
  <p>
    <strong>Total price:</strong>
    <%= booking.totalprice %>
  </p>

  <p>
    <strong>check-in:</strong>
    <%= booking.checkin %>
    <hr>
    <strong>check-out:</strong>
    <%= booking.checkout %>
  </p>
</div>
