<div class="cards">
  <div class="bookings" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://d33v4339jhl8k0.cloudfront.net/docs/assets/55f25845c69791729524c132/images/5e5f96c12c7d3a7e9ae8a5c1/file-9N4eqOQFjb.png)">
    Bookings
</div>
